*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: whitesmoke;
}

.header{
  display: flex;
justify-content: space-between;
}

.header p {
  margin-left:50px;
}

.header input{
  width: 200px;
  outline: none;
  margin-right: 50px;
}

.home{
  margin-top: 20px;
}

hr {
  margin: 20px 50px;
}

.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 100px;
  
}

.meetup-card{
  position: relative;
  margin: 10px;
  flex: 0 0 30%;
}

.meetup-card  div img{
  width: 250px;
  height:250px;
  border-radius: 10px;
}

.date-time{
  font-size: 14px;
  color: grey;
}

.eventType{
  position: absolute;
  top:0;
  margin: 5px;
  background: white;
  padding: 2px;
  border-radius: 5px ;
}

.eventtypedropdown{
  display: flex;
  justify-content: flex-end;
  margin-right:50px ;
}

select {
  height: 25px;
}

.link{
  text-decoration: none;
  color: black;
}

.detail-img{
    width: 500px;
    height: 300px;
}

.speaker-card img{
  width: 80px;
  height:80px;
  border-radius: 100%;
}

.description{
  word-wrap: break-word;
  width: 500px;
  font-size: 14px;
}

.detail-container{
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.event-tag{
  display: flex;
}

.event-tag p{
  font-size: 15px;
  margin: 10px;
  background-color: coral;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.card-description >*{
  margin-bottom:20px;
}
.hosted >*{
  margin-top: 5px;
}

.eventdescription >*{
  margin-bottom: 10px;
}

.addtionalInformation>*{
  margin-bottom: 10px;
}

.card-detail{
  width:400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-detail >*{
  margin: 20px;
}
.time-detail{
  display: flex;
}

.time-detail > *{
  margin:5px;
}

.address p >*{
  margin:5px;
}
.currency p >*{
  margin :10px;
}

.speaker-card{
  display: flex;
  justify-content: space-around;
}

.speaker-detail{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 150px;
  background-color: white;
  padding: 20px;
}
.speaker-detail :nth-of-type(1){
  display: flex;
  justify-content: center;
}
.speaker-detail :nth-of-type(2) p{
  word-wrap: break-word;
  width: 100px;
  text-align: center;
}
@media only screen and (max-width: 768px){
  .header p {
    margin-left:25px;
  }
  
  .header input{
    width: 150px;
    outline: none;
    margin-right: 25px;
  }
  .detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 25px;
  }
  .detail-img{
   
    width: 300px;
    height: 200px;
}
.description{
  word-wrap: break-word;
  width: 300px;
  font-size: 14px;
}
hr {
  margin: 20px 25px;
}

.card-detail{
  width:300px;
}

.speaker-detail{
  padding: 10px;
  width: 120px;
}
}